html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
 
}

nav{
    background-color:#111;
    color: white;
    padding: 20px 50px;
}

.navTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search{
    display: flex;
    align-items: center;
    background-color: gray;
    padding: 10px 20px;
    border-radius:10px ;
}

.searchInput{
    border: none;
    background-color: transparent;
}

.searchInput::placeholder{
    color: lightgrey;
    padding: 5px;
}

.limitedOffer{
    font-size: 20px;
    border-bottom: 2px solid green;
    cursor: pointer;
}

.limitedOffer>span{
   color:red;
}

.navBottom{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuItem{
    margin-left: 50px;
    color: gray;
    cursor: pointer;
    font-weight: 400;
}

.menuItem:hover{
    background-color: white;
    color: #111;
}
.slider{
    background: lightblue;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%); 
    overflow: hidden;

    
}

.sliderWrapper{
    display: flex;
    width: 500vw;
    transition: all 1.5s ease-in-out;
}

.sliderItem{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.sliderBg{
    width: 750px;
    height: 750px;
    border-radius: 50%;
    background-color: yellow;
    position: absolute;
}
.sliderTitle{
    position: absolute;
    top: 10%;
    right: 10%;
    color: white;
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    z-index: 1;
}

.sliderPrice{
    position: absolute;
    top: 10%;
    left: 8%;
    color: white;
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    border: 1px solid black;
    padding: 5px;
    z-index: 1;
}
.buyButton{
    position: absolute;
    top: 50%;
    right: 10%;
    color: white;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    border: 1px solid black;
    padding: 5px;
    z-index: 1;
    cursor: pointer;
    background: #111;
}

.buyButton:hover{
    background: white;
    color: #111;
}
.sliderImg{
    z-index: 1;
}


.sliderItem:nth-child(1) .sliderBg{
    background-color: blue;
}
.sliderItem:nth-child(2){
    background-color:darkgreen;
}
.sliderItem:nth-child(2) .sliderBg{
    background-color:lightcoral;
}
.sliderItem:nth-child(3){
    background-color:purple;
}
.sliderItem:nth-child(3) .sliderBg{
    background-color:firebrick;
}
.sliderItem:nth-child(4){
    background-color:gold;
}
.sliderItem:nth-child(4) .sliderBg{
    background-color:tomato;
}
.sliderItem:nth-child(5){
    background-color:indigo;
}

.sliderItem:nth-child(5) .sliderBg{
    background-color: lawngreen
    
}

.features{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.feature{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.featureIcon{
    width: 50px;
    height: 50px;
}


.featureTitle{
    font-size: 20px;
    font-weight: 600;
    margin: 20px;
}

.featureDesc{
    color: grey;
    width: 50%;
    height: 100px;
}

.product{
    height: 100vh;
    width: 100vw;
    background-color: whitesmoke;
    position: absolute;
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
}


.payment{
    width: 500px;
    height: 500px;
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 10px 50px;
    display: none;
    flex-direction: column;
    box-shadow: 5px -4px 43px 8px rgba(0,0,0,1);
    

}

.payTitle{
    font-size: 20px;
    color: lightgray;

}

.label{
    font-size: 14px;
    font-weight: 600;
}

.payInput::placeholder{
    color: gray;
}
.payInput{
    padding: 10px;
    margin: 10px 0px;
    border: none;
    border-bottom: 1px solid grey;
}

.productImg{
    width: 50%;
}

.productDetails{
    position: absolute;
    top: 10%;
    right: 0;
    width: 40%;
    padding: 50px;
}

.productTitle{
    font-size: 75px;
    font-weight: 900;
}

.productDesc{
    font-size: 24px;
    color: gray;
}

.colors, .sizes{
    display: flex;
}

.color{
    width: 32px;
    height: 32px;
    border-radius: 5px;
    background-color:black;
    margin-right: 10px;
    cursor: pointer;
}

.color:last-child{
    background-color:darkblue;
}

.size{
    padding: 5px 20px;
    border: 1px solid black;
    margin-top: 5px;
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.productButton{
    float: right;
    padding: 10px 20px;
    background-color: #fff;
    background-color: black;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.productButton:hover{
    background-color: white;
    color: black;
}

.cardIcons{
  display: flex;
}

.cardIcon{
    margin-right: 10px;
}

.cardInfo{
    display: flex;
    justify-content: space-between;
}

.sm{
    width: 30%;
}

.payButton{
    position: absolute;
    height: 40px;
    bottom: -40px;
    width: 100%;
    left: 0;
    box-shadow: 1px -4px 40px 2px rgba(0,0,0,1);
    background-color: lightgreen;
    color: white;
    border:none;
    cursor: pointer;
}

.close{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: gray;
    color: white;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}