body{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
 
}

nav{
    background-color:#111;
    color: white;
    padding: 20px 50px;
}

.navTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search{
    display: flex;
    align-items: center;
    background-color: gray;
    padding: 10px 20px;
    border-radius:10px ;
}

.searchInput{
    border: none;
    background-color: transparent;
}

.searchInput::placeholder{
    color: lightgrey;
    padding: 5px;
}

.limitedOffer{
    font-size: 20px;
    border-bottom: 2px solid green;
    cursor: pointer;
}

.limitedOffer>span{
   color:red;
}

.navBottom{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuItem{
    margin-left: 50px;
    color: gray;
    cursor: pointer;
    font-weight: 400;
}

.menuItem:hover{
    background-color: white;
    color: #111;
}
.slider{
    background: lightblue;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%); 
    overflow: hidden;

    
}

.sliderWrapper{
    display: flex;
    width: 500vw;
    transition: all 1.5s ease-in-out;
}

.sliderItem{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.sliderBg{
    width: 750px;
    height: 750px;
    border-radius: 50%;
    background-color: yellow;
    position: absolute;
}
.sliderTitle{
    position: absolute;
    top: 10%;
    right: 10%;
    color: white;
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    z-index: 1;
}

.sliderPrice{
    position: absolute;
    top: 10%;
    left: 8%;
    color: white;
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    border: 1px solid black;
    padding: 5px;
    z-index: 1;
}
.buyButton{
    position: absolute;
    top: 50%;
    right: 10%;
    color: white;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    border: 1px solid black;
    padding: 5px;
    z-index: 1;
    cursor: pointer;
    background: #111;
}

.buyButton:hover{
    background: white;
    color: #111;
}
.sliderImg{
    z-index: 1;
}


.sliderItem:nth-child(1) .sliderBg{
    background-color: blue;
}
.sliderItem:nth-child(2){
    background-color:darkgreen;
}
.sliderItem:nth-child(2) .sliderBg{
    background-color:lightcoral;
}
.sliderItem:nth-child(3){
    background-color:purple;
}
.sliderItem:nth-child(3) .sliderBg{
    background-color:firebrick;
}
.sliderItem:nth-child(4){
    background-color:gold;
}
.sliderItem:nth-child(4) .sliderBg{
    background-color:tomato;
}
.sliderItem:nth-child(5){
    background-color:indigo;
}

.sliderItem:nth-child(5) .sliderBg{
    background-color: lawngreen
    
}

.features{
    display: flex;
    align-items: center;
    justify-content: center;
}

